{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
{% if not user.is_staff %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{% trans "Featured Books" %}</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card custom-card">
                <img src="{{ book.book_img.url }}" class="card-img-top" alt="{{ book.book_title }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'book_store_app:book_details' book.id %}" class="text-dark">{{ book.book_title }}</a>
                    </h5>
                    <p class="card-text"><strong>{% trans "Price:" %}</strong> ₹{{ book.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else%}
    <h2 class="text-center mb-4">Welcome, {{user.username}}</h2>
{% endif %}
{% endblock %}
