<div class="container">
    <h3>Update Inventory</h3>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add New Book</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'book_store_app:addBook' %}" class="btn btn-primary">Add Book</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Existing Books</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.book_title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td>${{ book.price }}</td>
                        <td>{{ book.quantity }}</td>
                        <td>
                            <!-- Update Book Button -->
                            <a href="{% url 'book_store_app:updateBook' book.id %}" class="btn btn-warning btn-sm">Update</a>

                            <!-- Delete Book Button -->
                            <a href="{% url 'book_store_app:deleteBook' book.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
